<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title>Patient Assignment Tools</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="pico.colors.min.css" />
    <link rel="stylesheet" href="pico.min.css" />

    <link rel="stylesheet" href="styles.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
      }
    </script>
  </head>
  <body>
    <div class="container" id="app" v-cloak>
      <%- include('./partials/nav.ejs'); %>
      <main>
          <!-- ROTATION  -->
        <section class="mainRotation">
          <h2>Rotation</h2>
          <hr />   
          <template v-if="board.zones.rotation.length > 0">
            <p class="instruction">Stroke, Trauma or Critical patients should be given to a doctor.</p>
            <template v-for="shift in findShiftsForZone('rotation')">
              <%- include('./partials/shifts.ejs'); %>
            </template>
          </template>
          <template v-else>
            <%- include('./partials/blank.ejs'); %>
          </template>
          
          <hr>
          <div class="skipControls">
            <button
              class="secondary outline"
              @click="moveNext('patient', -1)"
            >
              <%- include('./icons/arrow-l.svg') %>Rotation Back
            </button>
            <button
              class="secondary outline"
              @click="moveNext('patient', 1)"
            >
              Rotation Skip<%- include('./icons/arrow-r.svg') %>
            </button>
          </div>
          <div class="skipControls">
            <button
              class="secondary outline"
              @click="moveNext('sup', -1)"
            >
              <%- include('./icons/arrow-l.svg') %>Supervisor Back
            </button>
            <button
              class="secondary outline"
              @click="moveNext('sup', 1)"
            >
              Supervisor Skip<%- include('./icons/arrow-r.svg') %>
            </button>
          </div>
        </section>

        <!-- OTHER ZONES  -->
        <section class="otherRotations">
          <h2>Fast Track</h2>
          <hr />
          <template v-if="board.zones.fasttrack.length > 0">
            <p class="instruction">Accepts all ESI Level 4, 5 patients.</p>
            <template v-for="shift in findShiftsForZone('fasttrack')">
              <%- include('./partials/shifts.ejs'); %>
            </template>
          </template>
          <template v-else>
            <%- include('./partials/blank.ejs'); %>
          </template>

          <h4>Flex Zone</h4>
          <hr />
          <template v-if="board.zones.flex.length > 0">
            <template v-for="shift in findShiftsForZone('flex')">
              <%- include('./partials/shifts.ejs'); %>
            </template>
          </template>
          <template v-else>
            <%- include('./partials/blank.ejs'); %>
          </template>

          <h4>Off the Board</h4>
          <hr />
          <template v-if="board.zones.off.length > 0">
            <template v-for="shift in findShiftsForZone('off')">
              <%- include('./partials/shifts.ejs'); %>
            </template>
          </template>
          <template v-else>
            <%- include('./partials/blank.ejs'); %>
          </template>
        </section>

        <!-- TIMELINE  -->
        <section class="timeline">
          <h2>Timeline</h2>
          <hr />
          <div class="blank" v-if="board.events.length === 0">No events</div>
          <template v-else>
            <template v-for="(event, index) in board.events">
              <%- include('./partials/event.ejs'); %>
            </template>
          </template>
        </section>

      </main>
    </div>
    <script src="./providers.js"></script>
    <script src="./shiftDetails.js"></script>
    <%- include('./app.ejs'); %>

  </body>
</html>
