<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title>Patient Assignment Tools</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="pico.colors.min.css" />
    <link rel="stylesheet" href="pico.min.css" />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="container" id="app" v-cloak>
      <%- include('./partials/nav.ejs'); %>
      <main>
        <!-- TIMELINE -->
        <section class="timeline">
          <h4>Timeline</h4>
          <hr />
          <div class="blank" v-if="events.length === 0">No events</div>
          <template v-else>
            <template v-for="(event, index) in events">
              <%- include('./partials/event.ejs'); %>
            </template>
          </template>
        </section>

        <!-- MAIN ZONE -->
        <section class="mainZone">
          <template v-for="zone in site.zones.filter(z=>z.site_order === 0)">
            <%- include('./partials/zoneRoster.ejs'); %>
          </template>
        </section>

        <!-- OTHER ZONES -->
        <section class="otherZones">
          <template v-for="zone in site.zones.filter(z=>z.site_order > 0)">
            <%- include('./partials/zoneRoster.ejs'); %>
          </template>
        </section>

      </main>
    </div>
    <%- include('./app.ejs'); %>
  </body>
</html>