<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title>Patient Assignment Tools</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="pico.colors.min.css" />
    <link rel="stylesheet" href="pico.min.css" />

    <link rel="stylesheet" href="styles.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script type="importmap">
      {
        "imports": {
          "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
      }
    </script>
  </head>
  <body>
    <div class="container" id="app" v-cloak>
      <%- include('./partials/nav.ejs'); %>
      <dialog :open="ui.showWhatsNew">
        <article>
          <h2>What's New in v0.3</h2>
          <ul>
            <li>No more Fast Track for the time being. <b>Fast Track patients should be assigned to APP</b> - even if they are not up for rotation. You can assign them a patient using the            <button class="secondary outline">
              <%- include('./icons/walkin.svg'); %>
            </button> button.</li>
            <li>
              The <b>APP</b> flag highlights which attending is next to staff with APP. After staffing, click <b>APP</b> to advance the flag to the next doctor. Buttons at the bottom of rotation can move the APP flag as needed.
            </li>
            </ul>
            <h4>What's New v0.2</h4>
            <ul>
            <li>
              Assigning patients now requires you to select a
              <b>Patient Type</b>. The "bonus" type is for use if a clinician
              picks up a patient when it is not their turn.
            </li>
            <li>
              <button class="secondary outline">
                <%- include('./icons/walkin.svg'); %>
              </button>
              This button can be used to assign patients to clinicians when it
              is not their turn. Using this button to assign patients does not
              affect the rotation.
            </li>
            <li>
              <button class="secondary outline">
                <%- include('./icons/reassign.svg') %>
              </button>
              This button shows up in the Timeline section for patient
              assignments. It allows you to reassign a previously assigned
              patient to another clinician without changing the rotation.<br /><br />For
              example, if one doctor is in with a critical patient and another
              doctor wants to pick up their patient without changing the
              rotation, you can use this button to reassign that patient.
            </li>
          </ul>
          <footer>
            <button className="secondary" @click="toggleWhatsNew">Close</button>
          </footer>
        </article>
      </dialog>

      <div class="header-info">
        <div><b>APPs in Rotation</b><hr><p>Our APPs will be in the rotation with the physicians. They will accept patients every other time through the rotation. The rotation will <i>automatically skip them</i> every other time through.</p><p>If the APP is up next and a high acuity patient comes in, skip the APP assignment. The APP will participate in the care of that patient with the next physician in the rotation.</p></div>
        <div><b>APP Fast Track</b><hr><p>No more <b>Fast Track Rotation</b> for the time being. <b>Fast Track</b> patients should be assigned to the APP on rotation, <i>even if it is not their turn</i>.</p><p>When it is not their turn, you can assign them a patient using the <button class="secondary outline"> <%- include('./icons/walkin.svg'); %></button> button at the top of their shift in the rotation.</p></div>
        <div><b>APP Button</b><hr><p><b>APP button</b> highlights which physician is up next to staff a patient with the APP. The APP should click it after staffing with the indicated physician. The <b>APP button</b> will advance to next physician.</p><p>The <b>APP Staffing Back and Skip</b> buttons can be used to move the APP button if needed.</p></div>
      </div>
      <main>
        
        <section class="timeline">
          <h4>Timeline</h4>
          <hr />
          <div class="blank" v-if="board.events.length === 0">No events</div>
          <template v-else>
            <template v-for="(event, index) in board.events">
              <%- include('./partials/event.ejs'); %>
            </template>
          </template>
        </section>
        <section class="mainRotation">
          <h4>Main Rotation</h4>
          <hr />   
          <template v-for="rotation in findRotationByName('Main')">
            <template v-if="rotation.shiftCount === 0"
              ><%- include('./partials/blank.ejs'); %></template
            >
            <template v-else
              ><%- include('./partials/shifts.ejs'); %>

              <hr>
              <div v-if="nurse" class="skipControls">
                <button
                  class="secondary outline"
                  @click="moveNext('patient', rotation.id, -1)"
                >
                  <%- include('./icons/arrow-l.svg') %>Rotation Back
                </button>
                <button
                  class="secondary outline"
                  @click="moveNext('patient', rotation.id, 1)"
                >
                  Rotation Skip<%- include('./icons/arrow-r.svg') %>
                </button>
              </div>
              <div v-if="nurse" class="skipControls">
                <button class="secondary"
                  @click="moveNext('midlevel', rotation.id, -1)">
                  <%- include('./icons/arrow-l.svg') %>APP Staffing Back
                </button>
                <button class="secondary"
                  @click="moveNext('midlevel', rotation.id, 1)">
                  APP Staffing Skip<%- include('./icons/arrow-r.svg') %>
                </button>
              </div>
            </template>
          </template>
        </section>
        <section class="otherRotations">
          <!-- <h4>Fast Track</h4>
          <hr />
          <template v-for="rotation in findRotationByName('Fast Track')">
            <template v-if="rotation.shiftCount === 0"
              ><%- include('./partials/blank.ejs'); %></template
            >
            <template v-else><%- include('./partials/shifts.ejs'); %></template>
          </template> -->
          <h4>Off Rotation</h4>
          <hr />
          <template v-for="rotation in findRotationByName('Off')">
            <template v-if="rotation.shiftCount === 0"
              ><%- include('./partials/blank.ejs'); %></template
            >
            <template v-else><%- include('./partials/shifts.ejs'); %></template>
          </template>
        </section>
      </main>
    </div>

    <script src="./dummy.js"></script>
    <script src="./dummy2.js"></script>
    <script src="./doctors.js"></script>
    <script src="./shiftDetails.js"></script>
    <%- include('./app.ejs'); %>

  </body>
</html>
