<%- include('partials/html_head') %>

<body v-scope @vue:mounted="mounted" v-cloak>

    <%- include('partials/nav_header_blank') %>
    <%- include('partials/error_bar') %>
    <%- include('partials/main_blank') %>

    <main class="d-flex flex-row flex-justify-center" >
        <!-- LEFT COLUMN -->
        <section class="col-3 py-3 px-4">
            <%- include('partials/timeline') %>
        </section>
        
        <!-- MIDDLE COLUMN -->
        <section class="col-5 p-3 pr-5">
            <%- include('partials/on_rotation') %>
            <% if (user.role == 'admin') { %> 
                <%- include('partials/on_rotation_admin') %>
                <%- include('partials/admin_boxes') %>
                <%- include('partials/tips') %>
            <% } %>
        </section>

        <!-- RIGHT COLUMN  -->
        <section class="col-4 p-3">
            <%- include('partials/ft_rotation') %>
            <div class="mt-5"></div>
            <%- include('partials/off_rotation') %>
        </section>

    </main>
    
</body>

<%- include('scripts') %>
</html>
