<%- include('partials/html_head') %>

<body v-scope @vue:mounted="mounted" v-cloak>
    


    <div class="d-none d-sm-block">
        <%- include('partials/nav_header') %>
        <%- include('partials/login_bar') %>
        <%- include('partials/error_bar') %>
        <%- include('partials/main_blank') %>
        
    </div>

    <main class="container-fluid">
        <div class="row p-3 pb-4 m-3 rounded bg-light">
            <%- include('partials/assign_bar') %>
        </div>
        <div class="row p-3 gx-5">
            <!-- LEFT COLUMN -->
            <section class="col-3">
                <%- include('partials/timeline') %>
            </section>
            
            <!-- MIDDLE COLUMN -->
            <section class="col-5">
                <%- include('partials/on_rotation') %>
                <% if (user.role == 'admin') { %> 
                    <%- include('partials/on_rotation_admin') %>
                    <!-- <%- include('partials/tips') %>                 -->
                <% } %>
            </section>

            <!-- RIGHT COLUMN  -->
            <section class="col-4">
                <%- include('partials/ft_rotation') %>
                <div class="mt-5"></div>
                <div class="d-none d-sm-block">
                    <%- include('partials/off_rotation') %>
                </div>
            </section>
        </div>
    </main>
    
</body>

<%- include('scripts') %>
</html>
