<%- include('partials/html_head') %>

<body v-scope @vue:mounted="mounted">
    <div v-cloak>
        <%- include('partials/nav_header_blank') %>
        <div class="blankslate" v-if="!state">
            <h3 class="blankslate-heading">Loading<span class="AnimatedEllipsis"></span></h3>
            <p>Retrieving content from server</p>
        </div>

        <main class="d-flex flex-row flex-justify-center" v-if="state">
            <!-- LEFT COLUMN -->
            <section class="col-3 m-3">
                <%- include('partials/timeline') %>
            </section>
            
            <!-- MIDDLE COLUMN -->
            <section class="col-5 p-3">
                <%- include('partials/on_rotation') %>
            </section>

            <!-- RIGHT COLUMN  -->
            <section class="col-4 p-3">
                <%- include('partials/FT_rotation') %>
                <div class="mt-5"></div>
                <%- include('partials/off_rotation') %>
            </section>
        </main>
    </div>
</body>

<%- include('partials/scripts') %>
</html>
