<%- include('partials/html_head') %>

<body v-scope @vue:mounted="mounted">
<%- include('partials/nav_header_blank') %>
    
    <div v-cloak>
        <main class="d-flex flex-row flex-justify-center" v-if="state">


            <!-- LEFT COLUMN -->
            <% if (user.role == 'admin' ) { %>
            <section class="col-2 m-3">
                <!-- <p class="rounded color-bg-accent h1 p-3">Patient<br>Assignment<br>Tool</p> -->
                <div class="p-3 color-bg-inset rounded">
                    <!-- Login -->
                    <%- include('partials/login') %>
                </div>

                <!-- Admin -->
                
                    <div class="mt-3 p-3 color-bg-danger rounded">
                    <%- include('partials/admin') %>
                    </div>
                
            </section>
            <% } %>

            <!-- MIDDLE COLUMN -->
            <section class="col-5 p-3">
                <!-- On Rotation -->
                <%- include('partials/on_rotation') %>
            </section>

            <!-- RIGHT COLUMN  -->
            <section class="col-4 p-3">
                <!-- Login Form for Users  -->
                <% if (user.role == 'user' ) { %>
                    <div v-if="!isDocWorking()" class="p-3 mb-4 color-bg-inset rounded">
                        <%- include('partials/login') %>
                    </div>
                <% } %>
                
                <!-- Off Rotation -->
                <div v-if="state.shifts.off_rotation.length > 0">
                <%- include('partials/off_rotation') %>
                </div>
            </section>
        </main>
    </div>

</body>
<%- include('partials/scripts') %>
</html>
